{%  extends "kcoapp/base.html" %}
{% block content %}
{% load static %}
    
        <div class="slideshow-container">
            <!--  -->
            <div class="slideshow-left">
                
                <img src="{% static 'kcoapp/images/image1.png' %}" class="slide">
            </div>
            <div class="slideshow-center">
                <img src="{% static 'kcoapp/images/pic3.jpg' %}" class="slide">
            </div>
            <div class="slideshow-right">
                <img src="{% static 'kcoapp/images/image1.png' %}" class="slide">
            </div>
        </div>

        <script src="script.js"></script>
        </div>
<body>

    <div class="profile-container">
        <img src="profile-picture.jpg" alt="Profile Picture" class="profile-picture">
        <div class="profile-text">
        <h1>Felikz K.</h1>
        <p>
            Hello! I'm John, a software developer with a passion for building web applications. 
            I enjoy working on challenging projects, learning new technologies, and collaborating with others.
        </p>
        <p>
            Feel free to connect with me to discuss tech, innovation, or just to say hello!
        </p>
        </div>
    </div>
    
    
    
   

        <section>
            <div class="about-cont"
                <h3 class="about-head"> About Us</h3>
                    <p>Kericho Beauty is a leading institution dedicated to providing comprehensive education and training in the fields of cosmetology,
                        esthetics, nail technology, makeup artistry, and advanced beauty specialties. With state-of-the-art facilities and experienced
                        instructors, we offer hands-on learning experiences and industry-relevant curriculum to prepare students for successful careers
                        in the beauty industry. Our college prides itself on fostering creativity, professionalism, and innovation among our students,
                        ensuring they are equipped with the knowledge and skills necessary to thrive in this dynamic field.</p>
                    
                    <p> Kericho Beauty is committed to providing exceptional education and training for aspiring beauty professionals. Our comprehensive
                        programs cover a wide range of beauty disciplines, including cosmetology, esthetics, nail technology, makeup artistry, and advanced
                        beauty specialties. With experienced instructors, modern facilities, and hands-on learning experiences, we strive to empower our
                        students with the knowledge, skills, and confidence needed to succeed in the competitive beauty industry.
                        Through our innovative curriculum, personalized instruction, and industry partnerships, we ensure that students receive a well-rounded
                        education that prepares them for licensure exams and successful careers in the beauty field. Our commitment to excellence, professionalism,
                        and student success sets us apart as a premier institution for beauty education. </p>
            <div>
                
            </div>
            <div class="objective"
                <h3 class="obj-head">OUR OJECTIVES</h3>
                <ol class="obj-list" start="1.">                
                    <li>To provide high-quality education and training in various aspects of beauty and cosmetology. </li>
                    <li>To equip students with practical skills and theoretical knowledge to excel in their chosen beauty careers.</li>
                    <li>To cultivate creativity, professionalism, and innovation among students through hands-on learning experiences and industry-relevant curriculum.</li>                <li>To foster a supportive learning environment that promotes collaboration, diversity, and inclusion.</p>
                    <li>To prepare students for licensure exams and entry into the workforce as skilled and confident beauty professionals.</li>
                    <li>To stay updated with the latest trends, technologies, and advancements in the beauty industry to ensure our curriculum remains relevant and cutting-edge.</li>
            
                </ol>
            </div>              
                
            </div>
        </section>

        <article>
            <h2><a href="#"> APPLY FOR A COURSE</a></h2>
            <p>Send your inquiries to our emaill or via whatsApp.</p>
        </article>

        
    </body>
{% endblock %}